.text-align-center{
  text-align: center;
}

.topnav{
  background-color: #815355;
  
}

html{
  min-height: 100%;
}

.navitem{
  color: #e9e8e8;
  text-decoration: none;
  transition: 0.5s;
  font-size: 16px;
}

.navitem:hover{
  color: #ffffff;
}

.header{
  background-color: #543249;
}

.header-logo{
  width: 200px;
  transition: 1s;
}

.header-logo:hover{
  width: 220px;
  padding: 5px;
}